* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
  color: #fafafa;
}

a {
  text-decoration: none;
  color: #fafafa;
}

li {
  list-style: none;
}

.hero-header {
  background-image: url("../img/hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 80px;
}

.menu-icon i {
  font-size: 34px;
}

.top-nav {
  display: none;
}

.top-nav-list {
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.hero-header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containar {
  background: #111;
  padding: 100px 0;
  width: 100%;
  height: auto;
}

.containar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.content-question {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.content-answer {
  margin: 50px auto;
  width: 80%;
  text-align: center;
}

.content-answer img {
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.menu-contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.content-img {
  position: relative;
}

.menu-img {
  width: 100%;
  height: auto;
  opacity: .5;
  transition: .5s;
}

.menu-img:hover {
  opacity: 1;
}

.content-img p {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .5;
}

footer {
  background: #111;
}

.footer-contents {
  display: flex;
  padding: 20px;
  width: 100%;
  height: auto;
}

.footer-lists {
  width: 50%;
  text-align: center;
}

.footer-lists li {
  font-weight: bold;
  margin: 10px;
}

.copyright {
  text-align: center;
  width: 100%;
  height: 200px;
}

.copyright p {
  margin-bottom: 10px;
}

.sns-icon a {
  font-size: 20px;
  margin: 0 5px 0;
}

@media screen and (min-width: 900px) {
  .top-nav {
    display: block;
  }

  .menu-icon i {
    display: none;
  }

  .content-answer {
    display: flex;
  }

  .content-answer:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .content-detail p {
    margin: 0 50px;
  }

  .footer-lists {
    width: 20%;
  }
}
