.header-title {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  float: left;
  font-weight: bold;
  }

.header-right {
  text-align: right;
  margin-top: 25px;
  padding-right: 20px;
}

.header-right a {
  text-decoration: none;
  font-size: 18px;
  width: 60%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  max-width: 40px;
}

.header-right a:hover {
  background-color: red;
  transition: background-color 1s;
}

.main-content {
  margin: auto;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
}

.content-button {
  width: 60%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.content-button:hover span {
  padding-right: 25px;
}

.content-button:hover span::after {
  opacity: 1;
  right: 0;
}

span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.green {
  background-color: rgb(44, 166, 57);
}

.red {
  background-color: red;
}

input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

.table-title {
  font-weight: bold;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  width: 20%;
}

.table-content:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  font-size: 20px;
  color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-align: center;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  text-align: right;
  margin: 0;
  padding-right: 20px;
}

@media screen and (max-width: 480px) {
  .header-title {
    font-size: 10px;
  }

  .main-content {
    padding-top: 5px;
  }

  .modal-content {
    font-size: 16px;
    width: auto;
  }
}
