* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: 10px auto;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  color: #555;
  font-size: 12px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.contents-card {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.contents-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contents-card-header,
.contents-card-detail,
.contents-card-time {
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contents-card-header {
  height: 60px;
}

.contents-card-detail {
  height: 100px;
}
