@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --web-font: 'Kaushan Script', cursive;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #fafafa;
  width: 100%;
  max-width: 100%;
}

.first-view {
  background: url('../img/background_first_view.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.top-header h1 a {
  font-size: 24px;
  font-family: var(--web-font);
  text-decoration: underline;
}

.top-header i {
  color: var(--main-color);
  display: none;
}

.header-nav {
  display: flex;
}

.header-nav li {
  margin: 0 20px;
}

.header-nav a {
  font-size: 16px;
  font-weight: bold;
}

.header-nav a:hover {
  text-decoration: underline;
}

.hero-text h2 {
  color: var(--main-color);
  font-family: var(--web-font);
  text-align: center;
  position: absolute;
  top: 35%;
  left: 35%;
  margin: 0 auto;
  z-index: 0;
}

.hero-text span {
  font-style: italic;
  font-size: 52px;
}

.fa-angle-double-down {
  color: var(--main-color);
  position: absolute;
  bottom: 5%;
  right: 49%;
}

main {
  padding: 60px 0 0 0;
}

.container {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  height: auto;
}

.container h2 {
  text-decoration: underline;
  margin: 0 0 40px;
}

.container iframe {
  width: 100%;
  height: 400px;
}

.menu-content {
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px #888;
  width: 90%;
  height: auto;
  padding-bottom: 30px;
  margin: 0 auto 80px;
}

.menu-content img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

.menu-content h3 {
  margin: 10px 0 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid #888;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px #888;
  padding: 10px 20px;
  margin: 5px 0;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid #028fe2;
}

.contact-form button {
  width: 50%;
  margin: 0 auto;
  transition: 1s;
}

.contact-form button:hover {
  border: 2px solid #028fe2;
  background-color: #028fe2;
  color: #fafafa;
}

footer {
  background-color: #333;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

@media screen and (min-width:901px) {
  .menu-contents {
    padding: 0 100px;
  }

  .menu-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-form {
    width: 40%;
  }
}

@media screen and (max-width:900px) {
  .top-header {
    justify-content: space-between;
    padding: 0 30px;
  }

  .top-header i {
    display: block;
  }

  .header-nav {
    background-color: rgba(65, 65, 65, 0.4);
    position: absolute;
    flex-direction: column;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100vh;
  }

  .header-nav li {
    text-align: center;
    margin: 20px 0;
  }

  .header-nav a {
    font-size: 22px;
  }

  .menu-content {
    margin: 5px auto;
  }
}
